<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>
  <link href="/style/style-c-m.css" rel="stylesheet" />
  <link href="/style/style-admin-clients.css" rel="stylesheet" />
  <link href="/style/style-menu.css" rel="stylesheet" />
  <script src="/script/jquery-3.6.0.min.js"></script>
  <script src="/script/script-cookies.js"></script>
</head>
<body>

<header>

  <div class="cookies">

  </div>

  <nav class="menu">
    <div class="menu-list">
      <form class="interface-item" action="" method="post">
        <input id="log-out-button" class="button-menu" type="submit" name="log-out" value="LOG OUT"/>
      </form>
      <a class="menu-button page-menu shop-menu" href="/admin/clients">Clients</a>
      <a class="menu-button page-menu cart-menu" href="/admin/goods">Goods</a>
      <a class="menu-button page-menu cart-menu" href="/admin/orders">Orders</a>
    </div>
  </nav>

  <h1>ADMIN PANEL</h1>
</header>
<main>


</main>

</body>
</html>