<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients panel</title>
    <link href="/style/style-c-m.css" rel="stylesheet" />
    <link href="/style/style-admin-orders.css" rel="stylesheet" />
    <link href="/style/style-menu.css" rel="stylesheet" />
    <link href="/style/style-autofill.css" rel="stylesheet" />
    <link href="/style/style-scrollbar.css" rel="stylesheet" />

    <script src="/script/jquery-3.6.0.min.js"></script>
    <script src="/script/script-cookies.js"></script>
    <script src="/script/script-admin-orders.js"></script>
</head>
<body>

<header>

    <div class="cookies">

    </div>

    <nav class="menu">
        <div class="menu-list">
            <form class="interface-item" action="" method="post">
                <input id="log-out-button" class="button-menu" type="submit" name="log-out" value="LOG OUT"/>
            </form>
            <a class="menu-button page-menu shop-menu" href="admin-area.html">Dashboard</a>
            <a class="menu-button page-menu cart-menu" href="/admin/goods">Goods</a>
            <a class="menu-button page-menu cart-menu" href="/admin/clients">Orders</a>
        </div>
    </nav>

    <h1>CLIENTS PANEL</h1>
</header>
<main>
    <section class="search-section">
        <input id="search-value" class="search-value" type="email" name="search-value" placeholder="Value to search">
        <button class="button search-button" id="search-button">
            Search
        </button>
    </section>
    <section class="display-section">

        <div class="display-scroll-wrapper">
            <div class="table-titles-section">
                <div>
                    <p>ID</p>
                    <p>Article</p>
                    <p>Amount</p>
                    <p>Client email</p>
                    <p>Delivery</p>
                    <p>Payment</p>
                    <p>Status</p>
                </div>
            </div>
            <div class="display-orders-section content-table-inner"></div>
        </div>
        <div class="pagination" id="pagination-orders-section">
            <div class="prev-orders-page" data-target="prev">&laquo;</div>
            <div class="orders-page active-page" data-target="0">1</div>
            <div class="orders-page" data-target="1">2</div>
            <div class="orders-page" data-target="2">3</div>
            <div class="orders-page" data-target="3">4</div>
            <div class="orders-page" data-target="4">5</div>
            <div class="orders-page" data-target="5">6</div>
            <div class="next-orders-page" data-target="next">&raquo;</div>
        </div>

    </section>

</main>

</body>
</html>