$primary: #e5e837;
$secondary: rgb(254 159 151);
$white: #fff;
$black: #000;

*, html, body{
  margin: 0; padding: 0; border: none; font-family: Calibri, sans-serif;
}

a{
  text-decoration: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

body{
  background-image: url("images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: brightness(38%);
  -webkit-backdrop-filter: brightness(38%);
  -moz-backdrop-filter: brightness(38%);
  min-height: 100vh;
}

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

h1{
  font-size: 60px; color: $primary;
}

a{
  font-size: 16px; color: $secondary; font-weight: 300; letter-spacing: 1.2px;

  &:hover{
    color: $white;
  }

}

.small-button-text{
  padding: 5px 20px;
  background-color: transparent;
  color: #e5e837;
  transition-duration: 0.5s;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px 0;

  &:hover{
    background-color: rgb(254 159 151 / 40%);
    color: #ffffff;
  }
}

.small-button{
  padding: 5px 20px;
  background-color: #e5e837;
  color: #000;
  transition-duration: 1s;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px 0;

  &:hover{
    background-color: $secondary; color: $black;
  }
}

.button{
  padding: 12px 30px; background-color: $primary; color: $black; transition-duration: 1s; font-size: 22px; cursor: pointer; margin: 0 20px 0;

  &:hover{
    background-color: $secondary; color: $black; transform: scale(1.1);
  }

}

header{
  @include displayFlex(column, center, center); height: 20vh; position: relative;
}

.edit-user-pop-up{

  @include displayFlex(column, center, center); display: none; position: absolute; width: 100vw;
  height: 100vh; background-color: rgba(0, 0, 0, 0.49); top: 0; left: 0; z-index: 100;

  form{

    @include displayFlex(column, space-between, center); background-color: rgb(0 0 0 / 74%); box-shadow: #e5e8374d 0 0 10px;
    width: 510px; height: 400px; padding: 40px 40px; position: relative;

    .close-pop-up{
      position: absolute; top: 5px; right: 5px; width: 20px; height: 20px; color: $primary; cursor: pointer;
    }

    .form-group-wrapper{
      @include displayFlex(row, space-between, center); width: 100%; position: relative; padding: 15px 0 0;
    }


    .form-button-label{
      @include displayFlex(column, center, center); margin-top: 30px;
    }

    .form-group {
      position: relative;
      width: 48%;
    }

    .form-field {
      font-family: inherit; width: 100%; border-bottom: 2px solid $secondary; outline: 0;
      font-size: 18px; color: $white; padding: 20px 0 10px; background: transparent; transition: 0.8s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form-label {
        font-size: 18px; cursor: text; top: 20px;
      }

    }

    .form-label {
      position: absolute; top: 0; display: block; transition: 0.8s; font-size: 18px; color: $secondary;
    }

    .form-field:focus {

      padding-bottom: 5px; font-weight: 500; border-width: 3px;
      border-color: $secondary;/*linear-gradient(to right, $primary, $secondary); border-image-slice: 1;*/

      ~ .form-label {
        position: absolute; top: -5; display: block; transition: 0.8s; font-size: 18px ;
        color: $primary; font-weight:700;
      }

    }

  }
}

main{
  @include displayFlex(column, center, center); padding: 0 0; width: 100vw; min-height: 65vh;

  .personal-area-info{
     flex-wrap: wrap;

    @media (min-width: 767px) {
      @include displayFlex(column, space-around, center); width: 100%
    }

    @media (min-width: 1024px) {
      @include displayFlex(row, space-around, center); width: 70%;
    }

    div {
      @include displayFlex(column, center, center); width: 230px;

      @media (min-width: 767px) {
        margin-bottom: 40px;
      }

      @media (min-width: 1024px) {
        margin-bottom: 50px;
      }

      .shop-icon {
        background-image: url("images/shop.png"); position: relative;
      }
      .orders-icon {
        background-image: url("images/orders.png"); position: relative;
      }

      .name-icon {
        background-image: url("images/name.png"); position: relative;
      }

      .pa-info-icon{
        width: 80px;
        height: 80px;
        background-size: cover;
        margin-bottom: 20px;
      }

      p {
        color: $white;
        font-size: 18px;
        font-weight: 300;
        margin: 10px;

        span {
          color: $primary;
          font-weight: 500;
          font-size: 22px;
        }
        .before-counter {
          position: absolute; display: none; top: -20px; right: -20px; color: rgb(118 253 165 / 100%); font-size: 20px; padding: 2px 5px;
        }
      }
      .filled-text-object {

        @media (min-width: 767px) {
          mmargin-top: 10px;
        }

        @media (min-width: 1024px) {
          margin-top: 30px;
        }

      }
    }
  }

}

footer{
  @include displayFlex(column, flex-start, flex-start); padding: 0 0; width: 100vw; min-height: 15vh;

  .promo-code-area{
    @include displayFlex(row, flex-start, center); padding: 20px;

    #promo_code{
      text-align: center; color: $primary; font-weight: 500; font-size: 22px;
    }

  }

}