*, html, body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Calibri, sans-serif;
}

a {
  text-decoration: none;
}

textarea,
input[type=text],
input[type=button],
input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-image: url("images/pexels-simon-berger-1323550.jpg");
  background-size: cover;
  background-position: center center;
  backdrop-filter: brightness(38%);
  -webkit-backdrop-filter: brightness(38%);
  -moz-backdrop-filter: brightness(38%);
}

h1 {
  font-size: 60px;
  color: #e5e837;
}

a {
  font-size: 16px;
  color: rgb(254, 159, 151);
  font-weight: 300;
  letter-spacing: 1.2px;
}
a:hover {
  color: #fff;
}

.button {
  padding: 12px 30px;
  background-color: #e5e837;
  color: #000;
  transition-duration: 1s;
  font-size: 22px;
  cursor: pointer;
  margin: 0 20px 0;
}
.button:hover {
  background-color: rgb(254, 159, 151);
  color: #000;
  transform: scale(1.1);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 60vh;*/
  padding-bottom: 20vh;
  margin-top: 60px;
}
main .note-message {
  margin: 50px 0;
  background-color: rgba(254, 159, 151, 0.1254901961);
  padding: 20px;
  width: 550px;
}
main .note-message p {
  text-align: center;
  font-size: 18px;
  color: #fe9f97;
  line-height: 24px;
}
main .funds-info {
  flex-wrap: wrap;
}
@media (min-width: 767px) {
  main .funds-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  main .funds-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }
}
main .funds-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 25px 0;
}
main .funds-info div .walletUSD-icon {
  background-image: url("images/usd-wallet.png");
}
main .funds-info div .walletEUR-icon {
  background-image: url("images/eur-wallet.png");
}
main .funds-info div .funds-info-icon {
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-bottom: 20px;
}
main .funds-info div p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
  letter-spacing: 2px;
  text-align: center;
}
main .funds-info div p span {
  color: #e5e837;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 5px;
}
main form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: #e5e837 0 0 10px;
  width: 510px;
  height: 400px;
  padding: 40px 40px;
  position: relative;
}
main form .close-pop-up {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  color: #e5e837;
  cursor: pointer;
}
main form .form-group-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 15px 0 0;
}
main form .form-button-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
main form .form-group {
  position: relative;
  width: 48%;
}
main form .form-field {
  font-family: inherit;
  width: 100%;
  border-bottom: 2px solid rgb(254, 159, 151);
  outline: 0;
  font-size: 18px;
  color: #fff;
  padding: 20px 0 10px;
  background: transparent;
  transition: 0.8s;
}
main form .form-field::placeholder {
  color: transparent;
}
main form .form-field:placeholder-shown ~ .form-label {
  font-size: 18px;
  cursor: text;
  top: 20px;
}
main form .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.8s;
  font-size: 18px;
  color: rgb(254, 159, 151);
}
main form .form-field:focus {
  padding-bottom: 5px;
  font-weight: 500;
  border-width: 3px;
  border-color: rgb(254, 159, 151); /*linear-gradient(to right, $primary, $secondary); border-image-slice: 1;*/
}
main form .form-field:focus ~ .form-label {
  position: absolute;
  top: -5;
  display: block;
  transition: 0.8s;
  font-size: 18px;
  color: #e5e837;
  font-weight: 700;
}

/*# sourceMappingURL=style-funds.css.map */
