.menu{
  width: 95vw; padding: 20px;

  .menu-list{
    display: flex; justify-content: left; align-items: center;

    .menu-button{
      font-size: 20px;
      margin: 0 30px;
      text-transform: uppercase;
    }

    .active-menu-link{
      color: white;
    }

  }

}

