$primary: #e5e837;
$secondary: rgb(254 159 151);
$white: #fff;
$black: #000;

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.cookies {
  position: absolute;
  top: 10px;
  right: 10px;
  @include displayFlex(column, center, center);
  display: none;

  .successfulMessage {
    background-color: rgba(118, 253, 165, 0.6);
    color: $black;
    font-size: 18px;
    padding: 20px 30px;
  }

  .errorMessage {
    background-color: rgba(118, 253, 248, 0.6);
    color: $black;
    font-size: 18px;
    padding: 20px 30px;
  }
}